@model System.Collections.Generic.IEnumerable<ReservationView>

@{
    ViewData["Title"] = "Все бронирования";
}

<h3>Все бронирования: </h3>
<table class="table table-bordered">
    <thead class="header" style="background: #DCDCDC; font-weight: bold;">
        <th>@Html.DisplayNameFor(model => model.MeetingRoom.Name)</th>
        <th>@Html.DisplayNameFor(model => model.MeetingRoom.Capacity)</th>
        <th>@Html.DisplayNameFor(model => model.Reservation.BeginTime)</th>
        <th>@Html.DisplayNameFor(model => model.Reservation.EndTime)</th>
        <th>@Html.DisplayNameFor(model => model.Reservation.Priority)</th>
        <th>@Html.DisplayNameFor(model => model.Reservation.Booker)</th>
        <th>@Html.DisplayNameFor(model => model.Reservation.Description)</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MeetingRoom.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.MeetingRoom.Capacity)</td>
            <td>@Html.DisplayFor(modelItem => item.Reservation.BeginTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Reservation.EndTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Priority)</td>
            <td>@Html.DisplayFor(modelItem => item.Reservation.Booker)</td>
            <td>@Html.DisplayFor(modelItem => item.Reservation.Description)</td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Reservation.Id">Изменить</a> 
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Reservation.Id">Удалить</a>
            </td>
        </tr>

        }
    </tbody>
</table>