<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reservation</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Мои бронирования", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Все бронирования", "Index", "Reservation", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Забронировать", "Create", "Reservation", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Добавить переговорку", "Create", "Room", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @*<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                                <li>@Html.ActionLink("                    <li>@Html.ActionLink("Все бронирования", "Create", "ReservationController", new { area = "" }, new { @class = "navbar-brand" })</li>
        ", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(" Login", "Login", "Home", new { area = "" }, new { @class = "glyphicon glyphicon-log-in navbar-brand" })</li>

                </ul>-->
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center" style="clear: both;">
        <h1>Система бронирования переговорных комнат</h1>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Reservation</p>
        </footer>
    </div>
</body>
</html>
