@using Reservation.Models
@model System.Collections.Generic.IEnumerable<ReservationView>

@{
    ViewData["Title"] = "Мои бронирования";
}

<h3>Мои бронирования: </h3>
<table class="table table-bordered">
    <thead class="header" style="background: #DCDCDC; font-weight: bold;">
        <td>Переговорка</td>
        <td>Количество людей</td>
        <td>Начало встречи</td>
        <td>Окончание встречи</td>
        <td>Приоритет</td>
        <td>Описание</td>
        <td></td>
    </thead>
    <tbody>

    @foreach (ReservationView reserv in Model)
    {
        <tr>
            <td>@reserv.MeetingRoom.Name</td>
            <td>@reserv.MeetingRoom.Capacity</td>
            <td>@reserv.Reservation.BeginTime</td>
            <td>@reserv.Reservation.EndTime</td>
            <td>@reserv.Priority</td>
            <td>@reserv.Reservation.Description</td>
            <td>
                <a class="btn btn-default" asp-action="Edit" asp-controller="Reservation" asp-route-id="@reserv.Reservation.Id">Изменить</a>
                <a class="btn btn-default" asp-action="Delete" asp-controller="Reservation" asp-route-id="@reserv.Reservation.Id">Удалить</a>
            </td>
        </tr>
    }

    </tbody>
</table>