@using Reservation.Models
@model IEnumerable<Reservation>

@{
    ViewData["Title"] = "My reservations";
}

<div>
    <h3>Мои бронирования: </h3>
    <table class="table table-bordered">
        <tr class="header" style="background: #DCDCDC">
            <td><p>Начало встречи</p></td>
            <td><p>Окончание встречи</p></td>
            <td><p>Описание</p></td>
            <td><p>Приоритет</p></td>
            <td><p>Комната</p></td>
        </tr>
        @foreach (Reservation reserv in Model)
        {
            <tr>
                <td><p>@reserv.Id</p></td>
                <td><p>@reserv.BeginTime</p></td>
                <td><p>@reserv.EndTime</p></td>
                <td><p>@reserv.Description</p></td>
                <td><p>@reserv.Priority</p></td>
                <td>
                    <p>
                        @reserv.RoomId;
                </p>
            </td>
        </tr>
    }
    </table>
</div>